.allEvents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.eachEventCard {
    width: 30%;
}

.card-img-top {
    height: 350px;
    cursor: pointer;
}

.eventDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}