.allEvents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.eachEventCard {
    width: 30% !important;
}

.card-img-top {
    height: 350px;
    cursor: pointer;
}

.eventDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.event-btns {
    display: flex;
    align-items: center;
    gap: 5px;
}

.eventPagination {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.paginationWidth {
    width: 100%;
}