.eachEventCard>img {
    cursor: pointer;
}

.allAds {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.adButtons {
    display: flex;
    align-items: center;
    gap: 5px;
}